.card img {
    max-height: 200px;
    object-fit: cover;
}
.notification-badge {
    position:relative;
    padding:5px 9px;
    background-color: #fff;
    color: #941e1e;
    bottom: 15px;
    left: 15px;
    border-radius: 50%;
}
.has-notif-badge {
    position: absolute;
}
